@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
header{
    height: 130px;
    border-bottom: 2px solid gray;
}
#divlogo{
    display: inline-block;
    max-width: 200px;
    height: 130px;
    text-align: center;
    box-sizing: border-box;
    
    background-color: gray;
}
#divlogo #logo{
    margin-top: 30px;
    width: 80%;
}

#divbuscador{
    display: inline-block;
    height: 130px;
    width: 800px;
    box-sizing: border-box;
    background-color: aquamarine;
    position: absolute;
    top: 0;


}
#divbuscador #sobusca{
    display: inline-block;
    position: absolute;
    width: 700px;
    top: 50px;
    left: 30px;
}
#divbuscador #busca{
    width: 80%;
    height: 30px;
}
